{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card p-4 my-4 mx-auto" style="width: 35rem;">
  {% if validlink %}
    <h5>Change password</h5><hr>
    <form method="post" id="form">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields  %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control bg-light' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary float-right px-4 my-4" id="submit_btn">Change password</button>
    </form>
  {% else %}
    <h3>Invalid link</h3>
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () {
  $('#form').on('submit', function () {
      $('#submit_btn').text('Changing password...');
      $(this).submit();
    return false;
  });
});
</script>
{% endblock %}
