{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheet %}
<style>
.card-partition {
  float: right;
  width: 70%;
}
.card-photo-area {
  float: left;
  width: 30%;
  max-height: 160px;
  overflow: hidden;
}
.card-photo-area img {
  width: 90%;
}
</style>
{% endblock %}

{% block content %}
  <a href="{% url 'book_threads' request.user.username %}" class="card-link float-right text-info">Activated threads</a>

  <div class="container my-4 mx-auto" style="width: 50rem;">

  <h5 class="text-secondary">Your deactivated books</h5>
  {% for book in posted_books %}
  <div class="card mb-2">
    <div class="card-body py-0 pl-0">
      <div class="card-partition py-1">
        <h5><a href="{{ book.get_absolute_url }}" class="card-link text-dark">{{book.title}}</a></h5>
        <p class="card-text my-0 text-muted"><small class="text-muted">{{ book.get_category_display }}</small></p>
        <p class="card-text my-0"><em class="text-secondary">{{ book.location }}</em></p>
        <p class="card-text text-success"><strong>{% if book.is_free %}Free{% else %}Rs {{ book.price|intcomma }}{% endif %}</strong></p>
      </div>

      <div class="card-photo-area">
        {% if book.book_photos.first.photo %}
          <img src="{{ book.book_photos.first.photo.url }}" alt="{{ book.title|truncatechars:36 }}">
        {% else %}
          <img src="{% static 'img/book_placeholder.jpg' %}" alt="{{ book.title }}">
        {% endif %}
      </div>

      <div class="clearfix">
        <div class="float-right">
          <a href="{% url 'activate_book' book.id %}" class="btn btn-danger py-1 js-activate-btn">Activate</a>
          <a href="{{ book.get_absolute_url }}" class="card-link">Details</a>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="card mb-2">
    <div class="card-body text-center">
      <h3 class="text-secondary">No books found.</h3>
      <p class="text-secondary">You have not deactivated any books yet.</p>
    </div>
  </div>
  {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  function activatePlacesSearch() {
    var input = document.getElementById('search_by_location');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=activatePlacesSearch"></script>

<script type="text/javascript">
$(function () {
  $('.js-activate-btn').on('click', function () {
    var $activate_btn = $(this);

    $.ajax({
      url: $activate_btn.attr('href'),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $activate_btn.text('Activating...');
      },
      success: function (data) {
        if (data.is_activated) {
          $activate_btn.closest('.card').fadeOut();
        }
        else {
          console.log('unexpected error occurred');
        }
      }
    });

    return false;
  });
});
</script>
{% endblock %}
