<div class="container my-4 p-4">
  <hr>
  <div class="row my-4 p-4">
  <hr>
      <div class="col-lg-6">
        <a href="{% url 'terms' %}">Terms</a>
        <span class="text-muted">|</span> <a href="{% url 'privacy' %}">Privacy</a>
        <span class="text-muted">|</span> <a href="{% url 'feedback' %}">Feedback</a>
        <span class="text-muted">|</span> <a href="{% url 'faq' %}">FAQs</a>
        <span class="text-muted">|</span> <a href="{% url 'about' %}">About</a>
      </div>
      <div class="col-lg-6">
        <p class="pull-right text-secondary">© 2018 The Octopus Library. All rights reserved.</p>
      </div>
  </div>
</div>
