{% extends "base.html" %}
{% load pinax_messages_tags %}
{% load widget_tweaks %}

{% block title %}<title>New Message</title>{% endblock %}


{% block content %}
<div class="card p-4 my-4 mx-auto" style="width: 35rem;">
  <h5>
    New Message
    <a class="btn btn-outline-secondary btn-sm float-right" href="{% url "pinax_messages:inbox" %}">
      Go Back
    </a>
  </h5><hr>

  <form class="message-form" action="{% url "pinax_messages:message_create" %}" method="post">
      {% csrf_token %}

      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields  %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control bg-light' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary float-right px-4 my-4" id="submit_btn">Send</button>
      <a href="{% url "pinax_messages:inbox" %}" class="btn btn-default float-right px-4 my-4 mr-1">Cancel</a>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () {
  $('#message_form').on('submit', function () {
      $('#submit_btn').text('Sending...');
      $(this).submit();
    return false;
  });
});
</script>
{% endblock %}
